:root {
    --leaves-color: #cadce6;
    --tree-shadow: rgb(63, 63, 63);
  
    --penguin-size: 90px;
    --penguin-skin: rgb(0, 0, 0);
    --penguin-belly: white;
    --penguin-beak: orange;
    --penguin-shadow: rgb(63, 63, 63);
  
    --mail-border-lr: 3vw;
    --mail-border-tb: 2vw;
    --mail-cover-color: rgb(221, 130, 130);
    --mailbox-shadow: rgb(63, 63, 63);
  
    --mail-border-final-lr: 43vw;
    --mail-border-final-tb: 18vw;
  }